.wrapper{
    position: relative;
    overflow: hidden;
}
.channels{
    position: fixed;
    right: 0;
    top: 50;
    background: white;
    width: 320px;
    transform: translateX(320px);
    transition: transform 200ms ease-in;
    overflow: auto;
    height: 100%;


}
.channels.visible{
    transform: translateX(0);

}