.wrapper{
    position: relative;
    overflow: hidden;
    height: 100%
}
.channels{
    position: absolute;
    top:0;
    right: 0;
    background: white;
    width: 320px;
    transform: translateX(320px);
    transition: transform 200ms ease-in;
    overflow: auto; 
    height: 100%;


}
.channels.visible{
    transform: translateX(0);

}