.game_item {
    max-width: 136px;
    height: 238px;
    float: left;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    border: 2px solid #FFF;
}
:host:focus{
  outline: none;

}
:host:focus .game_item {

    background: #7550ba;
    color:white;
    outline:none;
}



.game_status {

    font-size: 14px;
    color: #6B6B6B;
}
:host:focus .game_status{
  color:white;
}
