:host {
  max-width: 350px;
  flex: 1;
  margin: 10px;
  width: 100%;
  min-width: 250px;
}

.stream_img {
  display: inline-block;
  border-radius: 1px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  padding: 2px;
}

.img-panel {
  position: relative;
}

.img {
  max-width: 100%;
  max-height: 180px;
  width: 100%;
  min-height: 135px;
}

:host:focus {
  outline: none;
}

:host:hover .stream_img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

:host:focus .stream_img {
  background: #7550ba;
  color: white;
}

.content {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  background-color: white;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 4px;
  margin: 5px;
}

:host:focus .title {
  background-color: #7550ba;
  color: white;
}

.mobile {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  background: white;
  display: none;
  opacity: 0.7;
  color: #7550ba;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid;
}

/*
:host:hover .mobile{
  display: flex;
}
*/

.mobile:hover {
  opacity: 1;
  border: 1px solid #7550ba;
}

.channel-status {
  font-size: smaller;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewer-count {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  background: #302a2a;
  font-size: small;
  border-radius: 2px;
  color: white;
  padding: 2px;
}

.game-name {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.small .img {
  display: none;
}

.small .img-panel {
  height: 40px;
}

.small .img {
  display: none;
}

.small .title {
  background: #7550ba;
  color: white;
  padding: 5px;
}