 :host {
     position: relative;
 }

 #twitch-embed {
     position: absolute;
     width: 100%;
     height: 100%;

 }

 .video-cover {
     position: absolute;
     width: 70%;
     height: 30%;
     z-index: 1;
     background-color: red;
     right: 0;
 }

 .video-cover2 {
     position: absolute;
     width: 0%;
     height: 100%;
     z-index: 1;
     right: 0;
     background-color: red;
 }