 :host {
     position: relative;
 }

 #twitch-embed {
     position: absolute;
     width: 100%;
     height: 100%;

 }

 .video-cover {
     position: absolute;
     width: 100%;
     height: 95%;
     z-index: 1;
 }

 .video-cover2 {
     position: absolute;
     width: 90%;
     height: 100%;
     z-index: 1;
     right: 0;
 }